services:

  mongo-server:
    image: mongodb/mongodb-community-server:7.0.5-ubuntu2204
    restart: always
    environment:
      MONGODB_INITDB_ROOT_USERNAME: admin
      MONGODB_INITDB_ROOT_PASSWORD: admin
    volumes:
      - ./data/mongo:/data/db
    ports:
      - "27017:27017"

